h1 {
    color:deepskyblue;
    text-align: center;
}

h3 {
    text-align: center;
    color: lightblue;
}

body {
    background-color:aliceblue;
}

.trending {
    background-color:white;
    margin: 10px;
    border-style:dashed;
}

.tweets {
    margin-top: 50px;
    background-color:lightblue;
}


