* {
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 100%; 
    display:inline-block;
    height: 70px;
    width: 70px;
}

.tweet-container {
    border: 1px solid black; 
    padding: 12px;
}

.tweet-header {
    display: flex;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;
}

.content {
    margin-top: 12px;
    font-size: 24px;
}

.time-info {
    display: flex; 
    margin-top: 12px; 
    color: grey;
}

.time {
    margin-right: 12px;
}




